In [6]:
# if문 - 음수/양수 판단

num = 5
if num>0:
    print("양수")
elif num<0:
    print("음수")
else:
    print("0입니다")

양수

In [8]:
# for문

for x in range(0, 10, 4):
    print(x, "는 4의 배수로 10보다 작다")

0 는 4의 배수로 10보다 작다
4 는 4의 배수로 10보다 작다
8 는 4의 배수로 10보다 작다

In [15]:
# for문

cars = ['Sonata', 'Tesla', 'Avante', 'Lexus']
for i in cars:
    if i=='Tesla':
        print(i.upper())
    else:
        print(i.lower())

sonata
TESLA
avante
lexus

In [22]:
# while문

i = 0
total = 0
while i < 5:
    i+=1
    total+=i
    print(i, total)
print(i, total)

1 1
2 3
3 6
4 10
5 15
5 15

In [17]:
# while문

i = 0
weather=['rain', 'snow', 'good']
while i < 5:
    print(i)
    if weather[i%3]=='rain':
        print('비가 오니 등산 안 한다.')
    elif weather[i%3]=='snow':
        print('눈이 오니 등산 안 한다.')
    else:
        print("%s 날씨이니 등산한다." %weather[i%3])
        print(f"{weather[i%3]} 날씨이니 등산한다.")
    i+=1

0
비가 오니 등산 안 한다.
1
눈이 오니 등산 안 한다.
2
good 날씨이니 등산한다.
good 날씨이니 등산한다.
3
비가 오니 등산 안 한다.
4
눈이 오니 등산 안 한다.

In [18]:
# 컴프리헨션(Comprehension)을 이용한 리스트 생성

num = [x * x for x in range(5)]
num

[0, 1, 4, 9, 16]

In [23]:
# 컴프리헨션

num = [x for x in range(10) if x % 2 == 0]
num

[0, 2, 4, 6, 8]

In [27]:
# 딕셔너리 컴프리헨션

dict = {i : i * i for i in range(5)}
dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [28]:
# 집합 컴프리헨션

num = {i * i for i in [1, -1, 2]}   # {1, 1, 4}가 나오지만 집합은 중복을 허용하지 않아서 {1, 4}
num

{1, 4}

In [30]:
# 함수

def add(a, b):
    return a + b

print(add(1, 2))

3

In [33]:
# 람다 함수 (lambda)
# (lambda 인자 : 반환값 또는 수식)(인자)

(lambda x : x * 2)(5)   # x에 5라는 값을 넣고 x * 2라는 수식을 실행

10

In [35]:
# defaultdict 함수

from collections import defaultdict

fruits = ["apple", "apple", "apple", "banana", "banana", "cherry", "melon"]
word_counts = defaultdict(int)
for i in fruits:
    word_counts[i]+=1
word_counts

defaultdict(int, {'apple': 3, 'banana': 2, 'cherry': 1, 'melon': 1})

In [36]:
# Counter 함수 : 열거형 데이터형의 데이터를 키로, 데이터의 개수를 값으로 반환
# 첫 글자를 대문자로 입력해야 에러가 발생하지 않음

from collections import Counter
c = Counter([0, 1, 2, 0])
print(c)

Counter({0: 2, 1: 1, 2: 1})

In [37]:
# zip 함수 : 같은 개수를 가지는 리스트나 딕셔너리 등의 데이터를 쌍을 묶어서 표시

letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
[pair for pair in zip(letters, numbers)]

[('a', 1), ('b', 2), ('c', 3)]

In [38]:
# enumerate 함수 : 같은 순서가 있는 데이터형(리스트, 튜플 등)을 입력받아 열거하여 객체로 만들 때 사용

my_num = {'aa':10, 'bb':5, 'cc':5, 'dd':20}
data = enumerate(my_num)
for i, j in data:
    print(i, ":", j, my_num[j])

0 : aa 10
1 : bb 5
2 : cc 5
3 : dd 20

In [5]:
# extend() : 리스트 끝에 원소 추가
# append()와 달리 리스트, 튜플, str 등 순회형 자료만 추가 가능
# append()는 ['A', 'B', 'C', ['D', 'E']] 와 같이 y를 하나의 원소로 간주하여 추가
# extend()는 ['A', 'B', 'C', 'D', 'E'] 와 같이 y의 각 항목들을 추가

# 리스트 추가
a = ['A', 'B', 'C']
b = ['D', 'E']
a.extend(b)

# 문자열 추가
c = ['A', 'B', 'C']
d = 'DESK'
c.extend(d)

print(a)
print(c)

['A', 'B', 'C', 'D', 'E']
['A', 'B', 'C', 'D', 'E', 'S', 'K']

In [10]:
# sort(), sorted()
# sort() : 원본 리스트 자체를 정렬
# sorted() : 원본 리스트를 정렬하는 것이 아니라 새로운 객체에 담아서 반환

a = [4, 1, 3, 5, 2]
sorted_nums = sorted(a)   # sorted()로 정렬한 리스트를 sorted_nums에 담아서 반환

print(a)   # sorted()로 정렬은 했지만 원본을 정렬한 게 아니기 때문에 그대로임
print(sorted_nums)   # 정렬한 리스트를 담은 객체 출력

a.sort()   # 원본 리스트를 정렬
print(a)   # 정렬된 리스트 출력

[4, 1, 3, 5, 2]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]